* {
    box-sizing: border-box;
}

body {
    background: #ffcba4;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Style the header */
.header {
    background-color: #d2691e;
    padding: 50px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #f2f2f2;
    width: 100%;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    /* height: 300px;  */
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Create 2 unequal columns that floats next to each other */
.record {
    float: left;
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
    margin: 0 0 15px;
    padding: 15px;
}

/* Left and right column */
.record.legend {
    width: 35%;
}

/* Middle column */
.record.input {
    width: 65%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #d2691e;
    padding: 10px;
    text-align: center;
    color: #f2f2f2;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.page_body {
    width: 500px;
    padding: 15px;
    margin: auto;
    display: none;
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 500px;
    margin: 0 auto 15px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input[type="file"] {
    position: relative;
    width: 100%;
    font-size: 14px;
    color: #585858;
}

.form input[type="text"] {
    position: relative;
    width: 100%;
    font-size: 14px;
    color: #585858;
}

.form input[type="date"] {
    position: relative;
    width: 100%;
    font-size: 14px;
    color: #585858;
}

.form input[type="datetime-local"] {
    position: relative;
    width: 100%;
    font-size: 14px;
    color: #585858;
}

.form input[type="number"] {
    position: relative;
    width: 100%;
    font-size: 14px;
    color: #585858;
}

.form input[type="password"] {
    position: relative;
    width: 100%;
    font-size: 14px;
    color: #585858;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #d2691e;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #56c080;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #56c080;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.logo-image {
    background-image: url(../images/valid.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 128px;
    margin: 0 0 30px;
}

.img_valid {
    display: block;
    border-radius: 4px;
    padding: 30px;
    width: 150px;
    margin: 0 auto 30px auto;
}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
    margin: 0 0 15px;
    padding: 0;
    border: 1px solid #d2691e;
}

.txt {
    position: relative;
    margin: 0 auto 15px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.txt.small_text {
    font-size: 15px;
}

.txt.medium_text {
    font-size: 25px;
}

.txt.big_text {
    font-size: 35px;
}

label {
    display: block;
    cursor: default;
    position: relative;
    text-align: left;
    font-size: 15px;
    color: #1a1a1a;
}

select {
    appearance: none;
    background-color: #f2f2f2;
    border: none;
    padding: 15px;
    margin: 0 auto 15px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #585858;
}

a {
    color: yellowgreen;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: forestgreen;
}

a:link,
a:visited {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {

    .column.side,
    .column.middle {
        width: 100%;
    }
}

/* Slider */
.toggle {
    display: block;
    position: relative;
    /* padding-left: 35px; */
    margin: 0 0 15px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 30px;
    text-align: left;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 100%;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch {
    background: #56c080;
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 92%;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

.tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

.connect-status {
    background-color: #555;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.connect-status:hover {
    background: #56c080;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 30%; /* Add 40px padding on the left */
    padding-right: 30%; /* Add 40px padding on the right */
    background-color: #d2691e;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    /* position: absolute;
    bottom: 0; */
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: block;
    padding: 10px 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background: #555;
}

.card-grid {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
}